# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

# Data Science Languages
- python
- R
- SQL

# Some of the commonly used libraries used by Data Scientists include:
* numpy 
* pandas
* matplotlib

In [ ]:
# Data Science Tools

| Data Science Tools    |
|-----------------------|
| Jupyter Notebook      |
| RStudio               |
| Apache Zeppelin       |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Objectives:
### unordered List: 
- pyhton
- R
- SQL

## Author
Taleb Sid Elmoktar